@font-face {
    font-family: interRegular;
    src: url(assets/fonts/static/Inter-Regular.ttf);
  }


:root {
    /*variables theme 1*/
    --backgroundColorT1:hsl(222, 26%, 31%);
    --buttonsT1:hsl(32, 26%, 89%);
    --buttons-hover1:white;
    --text-buttons1:hsl(221, 14%, 31%);
    --pressDelT1:hsl(223, 52%, 76%);
    --topNumbers1:white;
    --selectorBar-background1:hsl(227, 31%, 21%);
    --selectorCircle1:hsl(7, 99%, 67%);
    --shadowButton1:hsl(26, 14%, 65%);
    --displayCalc-background1:hsl(224, 36%, 15%);
    --button-background1:hsl(224,36%,15%);
    --button-DR-background-hover1:hsl(226, 30%, 36%);
    --button-equal-shadow-background-hover1:hsl(6, 72%, 32%);
    --button-equal-background-hover1:hsl(6, 93%, 67%);
    --text-hover1:white;

    /*variables theme 2*/
    --backgroundColorT2:hsl(0, 0%, 90%);
    --buttonsT2:hsl(48, 9%, 89%);
    --buttons-hover2:white;
    --text-buttons2:hsl(51, 7%, 21%);
    --pressDelT2:hsl(185, 41%, 56%);
    --topNumbers2:hsl(60, 9%, 17%);
    --selectorBar-background2:hsl(0, 8%, 82%);
    --selectorCircle2:hsl(25, 100%, 61%);
    --shadowButton2:hsl(30, 10%, 61%);
    --displayCalc-background2:hsl(0, 0%, 93%);
    --button-background2:hsl(0, 6%, 82%);
    --button-DR-background-hover2:hsl(185, 41%, 56%);
    --button-equal-shadow-background-hover2:hsl(25, 77%, 27%);
    --button-equal-background-hover2:hsl(25, 100%, 61%);
    --text-hover2:white;
    
    /*Variable used to change theme*/
    --buttons:var(--buttonsT1);
    --text-buttons:var(--text-buttons1);
    --buttons-hover:var(--buttons-hover1);
    --buttonDel:var(--pressDelT1);
    --backgroundColor:var(--backgroundColorT1);
    --topNumbers:var(--topNumbers1);
    --selectorBar-background:var(--selectorBar-background1);
    --selectorCircle:var(--selectorCircle1);
    --shadowButton:var(--shadowButton1);
    --displayCalc-background:var(--displayCalc-background1);
    --button-background:var(--button-background1);
    --button-DR-background-hover:var(--button-DR-background-hover1);
    --button-equal-shadow-background-hover:var(--button-equal-shadow-background-hover1);
    --button-equal-background-hover:var(--button-equal-background-hover1);
    --text-hover:var(--text-hover1);


}


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Spartan',sans-serif;
}
body{
    width:100%;
    max-width:1440px;
    background-color: var(--backgroundColor);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topNum{
    display:flex;
    justify-content:flex-end;
    font-family: interRegular;
    color:var(--topNumbers);

}
.selector-number{
    margin-right:5px;
    margin-left:10px
}
.numbers p{
    margin:0 5px;
}
.title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: interRegular;
    color:var(--topNumbers)
}

.control{
   
    
}
.control p{
    float:left;
    margin-right: 20px;
}
.displayCalc{
    width:450px;
}
#displayCalc{
    width:450px;
    height:100px;
    background-color:var(--displayCalc-background) ;
    border:0;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color:var(--topNumbers);
    font-size:32px;
    font-weight: 700;
}
button{
    width:90px;
    padding:15px;
    outline:none;
    cursor:pointer;
    border:0;
    border-radius: 5px;
    box-shadow:0px 3px 0px 0px var(--shadowButton);
    margin:10px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.num:hover{
    background-color: var(--buttons-hover);
}
.btn{
    display:flex;
    width:450px;
    flex-flow:wrap;
    background-color:var(--button-background);
    padding: 10px 5px;
    margin:15px 0;
    border-radius:10px
}
.del:hover{
    background-color: var(--pressDelT1);
    color:var(--text-hover);
    box-shadow:0px 3px 0px 0px var(--button-DR-background-hover);
}
.reset:hover{
    background-color: var(--pressDelT1);
    color:var(--text-hover);
    box-shadow:0px 3px 0px 0px var(--button-DR-background-hover);
}
.equal:hover{
    background-color: var(--button-equal-background-hover);
    color:var(--text-hover);
    box-shadow:0px 3px 0px 0px var(--button-equal-shadow-background-hover);
}
.reset,.equal{
    width:200px;
}

.btn button{
    background-color: var(--buttons);
    font-family: interRegular;
    color:var(--text-buttons);
    font-size:32px;
    font-weight: 700;

    
}

.selector-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 20px;
    background-color:var(--selectorBar-background);
    border-radius: 25px;
    padding: 5px;
  }
  
  .selector-circle {
    width: 15px;
    height: 15px;
    background-color: var(--selectorCircle);
    border-radius: 50%;
    position:relative;
    left:0;
  }
  
 