:root {
    /*Colors*/
    --main-background: hsl(222, 26%, 31%);
    --toggle-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
}
body{
    background-color: var(--main-background);
}
.container{
    display:flex;
}

.row-header{
    display:flex;
    justify-content: space-between;
}